@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

/* =====Variables===== */
:root {
  --clr-background: rgb(16, 14, 28);
  --clr-text: rgb(255, 255, 255);
  --clr-search: rgb(83, 88, 118);
  --clr-input-background: rgb(30, 35, 50);
}

/* =====Global Styles===== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  font-family: 'Oxygen', sans-serif;
}

/* =====Main Container===== */
.grid-container-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
}

/* =====Search bar Container===== */
.search-container {
  position: fixed;
  top: 15px;
  left: 30px;
  background-color: var(--clr-background);
  border-radius: 10px;
}

.search-container .search-bar {
  width: 510px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.search-bar .search-icon {
  color: var(--clr-search);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.search-bar input[type='text'] {
  width: 450px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  background-color: transparent;
  color: rgb(157, 167, 220);
}

/* =====Loading===== */
.loading {
  font-size: 50px;
  text-align: center;
}
/* =====Images Container===== */
.grid-images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  overflow-x: hidden;
}

.grid-images-item {
  padding: 10px;
}

.grid-images-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
