@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

/* =====Variables===== */
:root {
  --clr-search-color: rgb(16, 14, 28);
  --clr-background: rgb(14, 65, 108);
  --clr-text: rgb(255, 255, 255);
  --clr-search: rgb(83, 88, 118);
  --clr-input-background: rgb(30, 35, 50);
  --transition: all 0.3s linear;
  --transition-images: ;
}

/* =====Global Styles===== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  font-family: 'Oxygen', sans-serif;
}

/* =====Main Container===== */
.grid-container-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 70px;
  justify-content: center;
  align-content: center;
}

/* =====Search bar Container===== */
.search-container {
  position: fixed;
  top: 10px;
  left: 20px;
  background-color: var(--clr-search-color);
  opacity: 0.7;
  border-radius: 10px;
}

.search-container .search-bar {
  width: 510px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: var(--transition);
  border-radius: 10px;
}

.search-bar .search-icon {
  color: var(--clr-search);
  font-size: 50px;
  cursor: pointer;
}

.search-bar input[type='text'] {
  width: 450px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(157, 167, 220);
  transition: var(--transition);
}

/* =====Loading===== */
.loading {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 200px auto 0px;
}

.loading h1 {
  font-size: 50px;
  color: white;
}

/* =====Images Container===== */
.grid-images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  overflow-x: hidden;
}

.grid-images-item {
  padding: 10px;
}

.grid-images-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* =====Media Queries===== */
/* =====For Image Container===== */
@media screen and (max-width: 992px) {
  .grid-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    overflow-x: hidden;
  }
}

/* =====for search bar===== */
@media screen and (max-width: 700px) {
  .search-container .search-bar {
    width: 410px;
  }

  .search-bar input[type='text'] {
    width: 350px;
    height: 40px;
    font-size: 20px;
  }
  .search-bar .search-icon {
    font-size: 40px;
  }
}
