@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

/* =====Variables===== */
:root {
  --clr-search-con-bg: #f9f4ef;
  --clr-background: #8c7851;
  --clr-text: #020826;
  --clr-search-icon: #716040;
  --transition: all 0.4s linear;
}

/* =====Global Styles===== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  font-family: 'Oxygen', sans-serif;
}

/* =====Main Container===== */
.grid-container-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
}

/* =====Search bar Container===== */
.search-container {
  margin: 0 auto 5rem;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container .search-bar {
  width: 510px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--clr-search-con-bg);
  transition: var(--transition);
  opacity: 0.7;
  border-radius: 10px;
}

.search-bar .search-icon {
  color: var(--clr-search-icon);
  font-size: 50px;
  cursor: pointer;
}

.search-bar input[type='text'] {
  width: 450px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-text);
  transition: var(--transition);
}

/* =====Loading===== */
.loading {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 200px auto;
}

.loading h1 {
  font-size: 50px;
  color: var(--clr-text);
}

/* =====Images Container===== */
.grid-images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  overflow: hidden;
  gap: 2rem;
  padding: 0px 5rem 0px;
}

.grid-images-item {
  height: 350px;
  position: relative;
}

.grid-images-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  outline: none;
}

.grid-images-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: var(--clr-background);
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-images-item .overlay > span {
  font-size: 60px;
}
.grid-images-item .overlay img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.grid-images-item:hover .overlay {
  opacity: 0.7;
  color: var(--clr-text);
}

/* =====Media Queries===== */

/* =====For search bar===== */
@media screen and (max-width: 700px) {
  .search-container {
    width: 410px;
  }

  .search-container input[type='text'] {
    width: 350px;
    height: 40px;
    font-size: 20px;
  }
  .search-container .search-icon {
    font-size: 40px;
  }
}
