@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

/* =====Variables===== */
:root {
  --clr-background: rgb(16, 14, 28);
}

/* =====Global Styles===== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--clr-background); */
  background-color: aliceblue;
  font-family: 'Oxygen', sans-serif;
  color: black;
}

.grid-container-app {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px auto;
  justify-content: center;
  align-content: center;
}

.search-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px;
  padding-left: 30px;
}
.search-container .search-bar {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.search-bar .search-icon {
  font-size: 50px;
}

.search-bar input {
  width: 450px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 30px;
}

.grid-images-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 550px);
  justify-content: center;
  overflow-x: hidden;
}

.grid-images-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
