@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

/* =====Variables===== */
:root {
  --clr-background: rgb(16, 14, 28);
}

/* =====Global Styles===== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  font-family: 'Oxygen', sans-serif;
  color: white;
}

.grid-container-app {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 8vh 92vh;
  justify-content: center;
  align-content: center;
}

.grid-search-container {
  padding: 15px;
}

.grid-images-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 550px);
  justify-content: center;
  overflow-x: hidden;
}

.grid-images-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
